{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block content %}
   <section class="slideshow">
      <div class="slideshow__slide fadeIn">
         <img alt="" class="slideshow__img" src="images/backgrounds/background-01-1920x900.jpg"/>
         <h3 class="slideshow__title h-3 topFadeOut">Choose Your Oil</h3>
         <h6 class="slideshow__text h-6 fadeIn">
            I can help you make your life healthier and your body stronger in no time.
         </h6>
         <a class="slideshow__button button button--hollow bottomFadeOut" href="">
            Subscribe
         </a>
      </div>
      <div class="slideshow__slide fadeIn">
         <img alt="" class="slideshow__img" src="images/backgrounds/background-11-1920x900.jpg"/>
         <h3 class="slideshow__title h-3 topFadeOut">Enjoy a Heathy Life</h3>
         <h6 class="slideshow__text h-6 fadeIn">
            With advice and methods available here, you can easily improve your life!
         </h6>
         <a class="slideshow__button button button--hollow bottomFadeOut" href="">
            Subscribe
         </a>
      </div>
      <div class="slideshow__slide fadeIn">
         <img alt="" class="slideshow__img" src="images/backgrounds/background-13-1920x900.jpg"/>
         <h3 class="slideshow__title h-3 topFadeOut">Best Oils Available</h3>
         <h6 class="slideshow__text h-6 fadeIn">
            Health and Wellness Coach. Wellness advocate. Parent. Pet Stylist.
         </h6>
         <a class="slideshow__button button button--hollow bottomFadeOut" href="">
            Subscribe
         </a>
      </div>
      <div class="dots">
         <span class="dot"></span>
         <span class="dot"></span>
         <span class="dot"></span>
      </div>
   </section>

   <!-- ~~~ WELCOME SECTION ~~~ -->

   <section class="full-width-section sticky-footer">
      <div class="full-width-section__content">
         <div class="full-width-section__2col-wrapper">
            <div class="full-width-section__col-text full-width-section__col-text--welcome">
               <h2 class="h-1 u-txt-align-center">Welcome!</h2>
               <p class="paragraph">
                  I am a dedicated Doterra Oil wellness advocate, focused on everyone's health, bringing you super-practical support to help you feel great, take care of your body, and actually enjoy the process. I don’t tell my clients what to do, I teach them what to do.
               </p>
               <h6 class="h-6 u-txt-align-center u-txt-bold u-mt-medium u-mb-medium">
                  A fresh & fun approach to your life health and happiness in yourlife.
               </h6>
               <button class="button">
                  More about me
                  <!-- <span> about me</span> -->
               </button>
            </div>
            <div class="full-width-section__col-img full-width-section__col-img--welcome">
               <img src="<?php echo URLROOT; ?>/images/pages/home-01-570x350.jpg" alt="" class=""/>
            </div>
         </div>
      </div>
   </section>

   <!-- ~~~ INFO SECTION ~~~ -->

   <section class="full-width-section full-width-section--grey-light-bg">
      <div class="full-width-section__content">
         <div class="full-width-section__wrapper">
            <h2 class="h-2 u-txt-align-center u-mb-medium">
               Are you ready to harness the power of vibrant health to fuel your extraordinary life?
            </h2>
            <p class="paragraph u-mb-medium u-txt-align-center">
               I'm a health and lifestyle coach to smart (and busy!) women who want to look and feel their best, but who don't have a ton of time to exercise, shop for speciality foods, or cook tons of meals every week. I stumbled upon this path by accident, and it changed my life. Learn what good health can do and how extraordinary your life can be!
            </p>
            <div
               class="full-width-section__row">
               <!-- ~~~ CARD start -->
               <figure class="card card--with-icons">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-coffee"></use>
                     </svg>
                     <h6 class="h-6 u-txt-align-center u-color-primary u-txt-bold">
                        Nutrition Strategy
                     </h6>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Get a simple, doable tweak to your habits, that will make you a healthy, vibrant version of yourself.
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-icons">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-coffee"></use>
                     </svg>
                     <p class="h-6 u-txt-align-center u-color-primary u-txt-bold">
                        Nutrition Strategy
                     </p>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Get your individual exercise program that will meet your special needs considering your final goal.
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-icons">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-coffee"></use>
                     </svg>
                     <h6 class="h-6 u-txt-align-center u-color-primary u-txt-bold">
                        Nutrition Strategy
                     </h6>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Our program is distinct in that it adopts a holistic approach to health coaching based on your schedule.
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->
            </div>
         </div>
      </div>
   </section>

   <!-- ~~~ CTA SECTION start~~~ -->

   <section class="full-width-section full-width-section--bg-image">
      <div class="full-width-section__content">
         <div class="full-width-section__wrapper u-border-color-white">
            <h2 class="h-1 u-txt-align-center u-color-white">
               3 months with a Health Coach
            </h2>
            <h6 class="h-6 u-txt-align-center u-color-white u-mt-medium u-mb-medium u-width-60">
               Start working on your body today, and with the individual fitness program, already in 90 days you will see a totally different girl in the mirror!
            </h6>
            <div class="full-width-section__row">
               <button class="button">
                  Read More
                  <!-- <span> about me</span> -->
               </button>
               <button class="button button--hollow">
                  Book a program
                  <!-- <span> about me</span> -->
               </button>
            </div>
         </div>
      </div>
   </section>
   <!-- ~~~ CTA SECTION end~~~ -->
   <!-- ~~~ NEWS & ARTICLES  start~~~ -->
   <section class="full-width-section">
      <section class="full-width-section__content">
         <section class="full-width-section__wrapper">
            <h2 class="h-2 u-txt-align-center">News & Articles</h2>
            <div
               class="full-width-section__row">
               <!-- ~~~ CARD start -->
               <figure class="card card--with-blogpost">
                  <div class="card__content">
                     <div class="card__img-wrapper">
                        <a href="">
                           <img src="<?php echo URLROOT; ?>/images/pages/events-01-390x289.jpg" alt="" class="card__img"/>
                        </a>
                     </div>
                     <div class="card__details-wrapper">
                        <a class="card__link bold" href="">Street Workout
                           <svg class="card__icon-post">
                              <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-camera"></use>
                           </svg>
                        </a>
                        <span class="card__date">September, 12, 2016</span>
                     </div>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Daily movement, in some form, will make you feel better each and every day. Your body craves moment. It was built to move. That means, we&#8943;
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-blogpost">
                  <div class="card__content">
                     <div class="card__img-wrapper">
                        <a href="">
                           <img src="<?php echo URLROOT; ?>/images/pages/events-02-390x289.jpg" alt="" class="card__img"/>
                        </a>
                     </div>
                     <div class="card__details-wrapper">
                        <a class="card__link bold" href="">Seasonal Diet
                           <svg class="card__icon-post">
                              <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-camera"></use>
                           </svg>
                        </a>
                        <span class="card__date">September, 12, 2016</span>
                     </div>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Daily movement, in some form, will make you feel better each and every day. Your body craves moment. It was built to move. That means, we&#8943;
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-blogpost">
                  <div class="card__content">
                     <div class="card__img-wrapper">
                        <a href="">
                           <img src="<?php echo URLROOT; ?>/images/pages/events-03-390x289.jpg" alt="" class="card__img"/>
                        </a>
                     </div>

                     <div class="card__details-wrapper">
                        <a class="card__link bold" href="">How to eat
                           <svg class="card__icon-post">
                              <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-camera"></use>
                           </svg>
                        </a>
                        <span class="card__date">September, 12, 2016</span>
                     </div>
                     <span class="card__elipsis">&#8943;</span>
                  </div>
                  <figcaption class="card__info">
                     <p class="paragraph">
                        Daily movement, in some form, will make you feel better each and every day. Your body craves moment. It was built to move. That means, we&#8943;
                     </p>
                  </figcaption>
               </figure>
               <!-- ~~~ CARD end -->
            </div>
            <button class="button button--center">Subscribe to my blog</button>
         </section>
      </section>
   </section>
   <!-- ~~~ NEWS & ARTICLES  end~~~ -->

   <!-- ~~~ STATS SECTION start~~~ -->

   <section class="full-width-section full-width-section--bg-image">
      <div class="full-width-section__content">
         <div class="full-width-section__wrapper">
            <div
               class="full-width-section__row">
               <!-- ~~~ CARD start -->
               <figure class="card card--with-invisible-bg u-no-hover">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-diamond"></use>
                     </svg>
                     <h2 class="h-1 u-txt-align-center u-color-white">12</h2>
                     <h6 class="h-6 u-txt-align-center u-color-white ">Years of experience</h6>
                  </div>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-invisible-bg u-no-hover">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-portfolio"></use>
                     </svg>
                     <h2 class="h-1 u-txt-align-center u-color-white">15</h2>
                     <h6 class="h-6 u-txt-align-center u-color-white ">Kinds of methodics</h6>
                  </div>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-invisible-bg u-no-hover">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-sportive"></use>
                     </svg>
                     <h2 class="h-1 u-txt-align-center u-color-white">7</h2>
                     <h6 class="h-6 u-txt-align-center u-color-white ">
                        International cetificates
                     </h6>
                  </div>
               </figure>
               <!-- ~~~ CARD end -->

               <!-- ~~~ CARD start -->
               <figure class="card card--with-invisible-bg u-no-hover">
                  <div class="card__content">
                     <svg class="card__icon">
                        <use href="<?php echo URLROOT; ?>/images/sprite.svg#icon-user2"></use>
                     </svg>
                     <h2 class="h-1 u-txt-align-center u-color-white">2377</h2>
                     <h6 class="h-6 u-txt-align-center u-color-white ">Happy customers</h6>
                  </div>
               </figure>
               <!-- ~~~ CARD end -->
            </div>
         </div>
      </div>
   </section>

   <!-- ~~~ STATS SECTION end~~~ -->

   <!-- ~~~ TESTIMONIALS SECTION start~~~ -->

   <section class="full-width-section testimonials">
      <div class="full-width-section__content">
         <div class="full-width-section__wrapper">
            <h2 class="h-2 u-txt-align-center u-mb-big">Success Stories</h2>
            <div class="full-width-section__row">
               <img src="<?php echo URLROOT; ?>/images/pages/praise-01-269x278.jpg" alt="" class="img-testimonials"/>
               <img src="<?php echo URLROOT; ?>/images/pages/praise-02-269x278.jpg" alt="" class="img-testimonials"/>
               <article class="testimonials__carousel">
                  <h6 class=" testimonials__title h-6 u-txt-align-center u-txt-bold u-color-primary u-mb-medium">
                     Rita Jefferson lost 10 pounds and 1 size
                  </h6>
                  <p class="testimonials__desc paragraph">
                     Joanna is unlike most nutritionists. She allows you to use foods that work with your lifestyle to address your concerns. I felt that I had a choice in what I ate and how I ate it rather than being on a strict diet. She was therewith constant support, offering recipe recommendations or checking to make sure I was staying on track.
                  </p>
                  <blockquote class="testimonials__quote">
                     <p class="paragraph u-color-grey-dark-1">
                        Working with her changed the way I look at food - I not only feel better and healthier, but I also enjoy going to the grocery store and putting meals together using ingredients I previously overlooked. I completed the program having fixed all of my original concerns, and I enjoyed every session.
                     </p>
                  </blockquote>
                  <cite class="testimonials__author paragraph u-txt-bold">
                     <a class="link u-color-grey-dark-1" href="">
                        Rita Jefferson
                     </a>
                     <span class="testimonial__occupation u-txt-normal">actress</span>
                  </cite>
               </article>
            </div>
            <div class="full-width-section__carousel-pagination"></div>
         </div>
      </div>
   </section>

   <!-- ~~~ TESTIMONIALS SECTION end~~~ -->

   <!-- ~~~ CTA VISIT MY SHOP SECTION start~~~ -->

   <section class="full-width-section full-width-section--bg-image">
      <div class="full-width-section__content">
         <div class="full-width-section__wrapper full-width-section__wrapper--bg-white">
            <h1 class="h-1 u-txt-align-center u-color-primary">Visit my shop</h1>
            <h6 class="h-6 u-txt-align-center u-color-grey-dark-1 u-mb-medium u-mt-medium">
               You will find many interesting things that can strengthen your body
            </h6>
            <div class="full-width-section__row">
               <button class="button">
                  Read More
                  <!-- <span> about me</span> -->
               </button>
            </div>
         </div>
      </div>
   </section>

   <!-- ~~~ CTA VISIT MY SHOP SECTION end~~~ -->

{% endblock %}
